#splash{
    background-image: url(ben-kolde-bs2Ba7t69mM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: 50px;
    padding-top: 15%;
    padding-bottom: 50px;
    color:rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
  #splash h1{
    font-size:  5rem;;
  }
  #splash a{
    color:white;
  }
  #splash a:hover{
    color: rgb(127, 219, 7);
  }
  #about{
    background-image: url(https://getwallpapers.com/wallpaper/full/3/9/e/490037.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-bottom: 50px;
    color: white;
  }
  #about h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
  #about p{
    font-size: 1.5em;
    text-align: justify;
  }
  #about img{
    padding: 10px;
    max-width: 180px;
  }
#white-bg{
  background-color: rgba(0,0,0, 0.5);
  border-radius: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 6% 2%;
}
.error{
  color:red;
}
